@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
<blockquote class="shadow-none p-3 mb-5 bg-light rounded">
      <i><p>Acerca de Tendencia S.A.</p>
      <footer>Tendencia S.A.  surge en el año 2001 como una iniciativa de los dueños para desarrollar la comercialización en Guatemala de Totto, marca colombiana que había iniciado operaciones desde el año 1999, con la apertura de la primera tienda Totto en el país. En el año 2018 Tendencia inicia una etapa nueva al convertirse en una compañía multimarca, con la introducción de la marca Lili Pink en Guatemala.</footer>
      <footer>Tendencia cuenta con 234 colaboradores, 41 puntos de venta Totto, 180 distribuidores autorizados de la marca, presencia en las principales cadenas del país y el desarrollo de la plataforma de E-Commerce. Cuenta con 16 puntos de venta Lili Pink y el desarrollo de diversos canales digitales.</footer>
      </i>
  </blockquote>
  <blockquote class="shadow-none p-3 mb-5 bg-light rounded">
      <i><p>Visión</p>
      <footer>Construir al 2030 una organización modelo, que responda a las necesidades de sus clientes, mejore la calidad de vida de las comunicaciones donde opera y cumpla con su meta de crecimiento y rentabilidad.</footer>     
      </i>
  </blockquote>
  <blockquote class="shadow-none p-3 mb-5 bg-light rounded">
      <i><p>Misión</p>
      <footer>Lograr el desarrollo integral del talento, el manejo eficiente de recursos y la mejora continua de nuestras propuestas de valor, permitiendo alcanzar altos niveles de preferencia en los clientes y una inversión que trascienda en la comunidad y reduzca nuestra huella ambiental.</footer>
      </i>
  </blockquote>

</div>
